# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/CSArp/bin/Debug
/CSArp/obj/Debug/CSArp.Properties.Resources.resources
/CSArp/obj/Debug/CSArp.pdb
/CSArp/obj/Debug/CSArp.Form1.resources
/CSArp/obj/Debug/CSArp.exe
/CSArp/obj/Debug/CSArp.csprojResolveAssemblyReference.cache
/CSArp/obj/Debug/CSArp.csproj.GenerateResource.Cache
/CSArp/obj/Debug/CSArp.csproj.FileListAbsolute.txt
/.vs/CSArp/v14/.suo
