<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.4.1" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.0.6" targetFramework="net45" developmentDependency="true" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net45" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net45" />
</packages>